@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'charm';
  src: url('./public//FontsFree-Net-Charm1.ttf') format('truetype');
  /* font-weight: normal; */
  /* font-style: normal; */
}

body {
  font-family: 'charm'; /* Use the custom font */
}
